<iframe width="560" height="315" src="https://www.youtube.com/embed/O5tm9gaLZFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; 
    gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1><a href="#">Feel the Grid</a></h1>
<h2>A pattern memory game for visually impaired people<h2>
<p>"Feel the Grid" is a pattern memory game for visually imapired people. Think about a memory game where you try to remember a pattern you just saw, 
    and you have to recreate the pattern. As you develop through the game, the pattern gets harder. We wanted to achieve the same sensation
    but without needing our visual senses. In "Feel the Grid", we used a 3*3 "grid" through which you can hover your hand through and hear
    an auditory message when you come across a "colored tile". After this stage, "Feel the Grid" let's you recreate the pattern you scanned.
    You hover your hand over the tile which you remember to be colored and use push keys to enter this tile. At the next stage, you will receive an auditory 
    output depending on whether your pattern was correct. There are 4 difficulty levels as long as you input the correct patterns. For each difficulty level,
    we used lfsr randomization to select the random pattern. Therefore, the pattern level will be different every time. We also used VGA to
    support the game for those who are watching. Through VGA, users can see the original pattern, the pattern that was input by the player, and the 
    comparison of how correct their pattern was with respect to the original pattern. </p>
    