<h2><b>A Graphical Interface System for you and your squad</b></h2>
<p> </p>
<p style="position: relative; padding: 30px 0px 57% 0px; height: 0; overflow: hidden;"><iframe src="https://www.youtube.com/embed/0NwSkulI8CA" 
    width="100%" height="100%" frameborder="0" style="display: block; margin: 0px auto; position: absolute; top: 0; left: 0;"></iframe></p>
<p> </p>
<p>SquadMaps is a graphical interface system built in C++ for ECE297: Communications and Design Course. 
    With SquadMaps, you are able to:
    <ul style="list-style-type:disc;">
        <li>Search points of interests using addresses or intersections, supported with auto suggestions</li>
        <li>Search points of interests by simply double clicking on them</li>
        <li>Find travelling directions and send them to your email address</li>
        <li>Receive weather information through weather API</li>
        <li>Change the UI of the map from light mode to dark mode</li>
        <li>Open websites of points of interests</li>
        <li>Find birdsview distances between several points </li>
        <li>You can find the website of our GIS <a href="../website/squad_maps.html"target="_blank">here</a></li>
      </ul>
      SquadMaps placed in top 5 teams against computation time and accuracy in solving the Travelling Salesman Problem. I worked on 
      SquadMaps with <a href="https://github.com/SarhadSalam"target="_blank">Sarhad Salam</a> and <a href="https://github.com/XiuLuoShen"target="_blank">Zeng Zeng</a> 
    <br></br> </p>
    