<h2><b>A Graphical Interface System for you and your squad</b></h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0NwSkulI8CA" frameborder="0" allow="accelerometer; autoplay;
 encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--<h1><a href="#">Feel the Grid</a></h1>-->
<p>SquadMaps is a graphical interface system built in C++ for ECE297: Communications and Design Course. You can find the website
    of our GIS <a href="sm.html"target="_blank">here</a> </p>
    