<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SquadMaps - ECE297</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">SquadMaps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">ECE 297 Project by Defne, Sarhad and Zeng</h1>
      <p class="lead">A GIS which features: <br>- line distance <br>- live search <br>- weather API <br>- night mode <br>- keyboard shortcuts <br>- hover box <br>- POI highlight </p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/zoom-in.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Zoom in</h4>
            <p class="card-text">Click this button to zoom in, or double click the map, or use mouse scroll button. <em><br>Shortcut = <b>Ctrl</b> + <b>+</b></em></p>
          </div>
        </div>
      </div>

	<div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/zoom-out.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Zoom out</h4>
            <p class="card-text">Click on this button to zoom out, or use mouse middle click.<em><br> Shortcut = <b>Ctrl</b> + <b>-</b></em></p>
          </div>
        </div>
      </div>

<div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/fit-to-width.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Zoom fit</h4>
            <p class="card-text">Fits your map to the screen.<em><br> Shortcut = <b>Ctrl</b> + <b>O</b></em></p>
          </div>
        </div>
    </div>


<div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/help.png"alt="">
          <div class="card-body">
            <h4 class="card-title">Help</h4>
            <p class="card-text">Click on this button to get help about available buttons and the interface. </p>
          </div>
        </div>
      </div>
	
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/polyline.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Find distance</h4>
            <p class="card-text">Click on this button to enable line distance feature, click on the map to start drawing and the map will display the distance between the connecting points. The distance will be written over the lines between selected points.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/partly-cloudy-night.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Night mode switch</h4>
            <p class="card-text">Click on this button to enable night mode. Return to day mode by clicking again.</p>
          </div>
         </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/shutdown.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Shutdown</h4>
            <p class="card-text">Click on this button to shutdown.</p>
          </div>
        </div>
      </div>
	
     <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/chevron-down.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Mouse panning</h4>
            <p class="card-text">Click on the arrow pointing in the direction you want to pan.<br> <em>Shortcuts: <br><b>W</b> = UP <br><b>A</b> = left<br><b>S</b> = down<br> <b>D</b> = right</p></em>
          </div>
        </div>
      </div>

<div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/nui2.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Double click</h4>
            <p class="card-text">Double click on the map to see the closest point of interest or intersection.</p></em>
          </div>
        </div>
      </div>

	 <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/material/96/000000/internet.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Website pop-up</h4>
            <p class="card-text">When a website is available for a point of interest, click on this button to go to their website.</p>
          </div>
        </div>
      </div>
 <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img.icons8.com/color/96/000000/northern-lights.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Weather</h4>
            <p class="card-text">We use Open Weather Maps to obtain weather API data.</p>
          </div>
        </div>
      </div>
	
   <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="city.png" alt="">
          <div class="card-body">
            <h4 class="card-title">City scrollbar</h4>
            <p class="card-text">Click on the city scroll bar and double click on the city you would like to view.</p>
          </div>
        </div>
      </div>
  
  

 

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="city.png" alt="">
          <div class="card-body">
            <h4 class="card-title">City scrollbar</h4>
            <p class="card-text">Click on the city scroll bar and double click on the city you would like to view.</p>
          </div>
        </div>
      </div>
  
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Defne Dilbaz, Sarhad Maisoon Salam, Zeng Zeng</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>